@model WebApplication.Models.CpuViewModel


@{
    ViewBag.Title = "Cpu";
}

<hr/>

<p>
    <b>@Html.DisplayNameFor(model => model.CpuModel):</b> @Html.DisplayFor(model => model.CpuModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Frequency):</b> @Html.DisplayFor(model => model.Frequency)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.FamilyName):</b> @Html.DisplayFor(model => model.FamilyName)
</p>

