@model WebApplication.Models.KeyboardViewModel

@{
    ViewBag.Title = "Keyboard";
}


<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.KeyboardModel):</b> @Html.DisplayFor(model => model.KeyboardModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.KeyboardInterface):</b> @Html.DisplayFor(model => model.KeyboardInterface)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Type):</b> @Html.DisplayFor(model => model.Type)
</p>



