@model WebApplication.Models.LaptopViewModel

@{
    ViewBag.Title = "Laptop";
}


<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.LaptopModel):</b> @Html.DisplayFor(model => model.LaptopModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.SistemOperation):</b> @Html.DisplayFor(model => model.SistemOperation)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.DisplayType):</b> @Html.DisplayFor(model => model.DisplayType)
</p>


<p>
    <b>@Html.DisplayNameFor(model => model.DisplaySize):</b> @Html.DisplayFor(model => model.DisplaySize)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Resolution):</b> @Html.DisplayFor(model => model.Resolution)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.ProcessorManufacturer):</b> @Html.DisplayFor(model => model.ProcessorManufacturer)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.ProcessorModel):</b> @Html.DisplayFor(model => model.ProcessorModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.MemoryCapacity):</b> @Html.DisplayFor(model => model.MemoryCapacity)
</p>


<p>
    <b>@Html.DisplayNameFor(model => model.HDDCapacity):</b> @Html.DisplayFor(model => model.HDDCapacity)
</p>


<p>
    <b>@Html.DisplayNameFor(model => model.Weight):</b> @Html.DisplayFor(model => model.Weight)
</p>


<p>
    <b>@Html.DisplayNameFor(model => model.VideocardModel):</b> @Html.DisplayFor(model => model.VideocardModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.WifiConnection):</b> @Html.DisplayFor(model => model.WifiConnection)
</p>


<p>
    <b>@Html.DisplayNameFor(model => model.BluetoothConnection):</b> @Html.DisplayFor(model => model.BluetoothConnection)
</p>

