@model WebApplication.Models.MonitorViewModel


@{
    ViewBag.Title = "Monitor";
}

<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.MonitorModel):</b> @Html.DisplayFor(model => model.MonitorModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.DisplaySize):</b> @Html.DisplayFor(model => model.DisplaySize)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.DisplayType):</b> @Html.DisplayFor(model => model.DisplayType)
</p>



