@model WebApplication.Models.MotherboardViewModel

@{
    ViewBag.Title = "Motherboard";
}


<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.MbModel):</b> @Html.DisplayFor(model => model.MbModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Format):</b> @Html.DisplayFor(model => model.Format)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.ProcessorSocket):</b> @Html.DisplayFor(model => model.ProcessorSocket)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.ProcessorManufacturer):</b> @Html.DisplayFor(model => model.ProcessorManufacturer)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.HDDInterface):</b> @Html.DisplayFor(model => model.HDDInterface)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.MemoryType):</b> @Html.DisplayFor(model => model.MemoryType)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.VideoConnection):</b> @Html.DisplayFor(model => model.VideoConnection)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.AudioConnection):</b> @Html.DisplayFor(model => model.AudioConnection)
</p>

