@model WebApplication.Models.MouseViewModel

@{
    ViewBag.Title = "Mouse";
}

<hr/>

<p>
    <b>@Html.DisplayNameFor(model => model.MouseModel):</b> @Html.DisplayFor(model => model.MouseModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Dpi):</b> @Html.DisplayFor(model => model.Dpi)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Type):</b> @Html.DisplayFor(model => model.Type)
</p>

