@model WebApplication.Models.RamViewModel


@{
    ViewBag.Title = "Ram";
}

<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.Type):</b> @Html.DisplayFor(model => model.Type)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Capacity):</b> @Html.DisplayFor(model => model.Capacity)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Frequency):</b> @Html.DisplayFor(model => model.Frequency)
</p>

