@model WebApplication.Models.WebcamViewModel


@{
    ViewBag.Title = "Webcam";
}

<hr />

<p>
    <b>@Html.DisplayNameFor(model => model.WebcamModel):</b> @Html.DisplayFor(model => model.WebcamModel)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.WebcamInterface):</b> @Html.DisplayFor(model => model.WebcamInterface)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.Pixels):</b> @Html.DisplayFor(model => model.Pixels)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.VideoResolution):</b> @Html.DisplayFor(model => model.VideoResolution)
</p>

<p>
    <b>@Html.DisplayNameFor(model => model.PhotoResolution):</b> @Html.DisplayFor(model => model.PhotoResolution)
</p>

