@using Castle.Components.DictionaryAdapter.Xml
@using DomainModel.Models
@using WebApplication.Models
@model WebApplication.Models.ItemViewModel


@{
    ViewBag.Title = "Details";
}


<!--content-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">


                            <!--category-productsr-->

                            @{
                                var categories = Enum.GetNames(typeof(CATEGORY));

                                foreach (var item in categories)
                                {

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                @Html.ActionLink(@item, "Shop", new {category = item})
                                            </h4>
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        @*TO DO*@
                        @*<!--/category-productsr-->

                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>Brands</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                                    <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                    <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
                                    <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
                                </ul>
                            </div>
                        </div><!--/brands_products-->*@


                    </div>
                </div>


                <div class="col-sm-9 padding-right">

                    <div class="product-details">

                        <!--product-details-->

                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="~/template/images/product-details/1.jpg" alt="" />
                                <h3>ZOOM</h3>
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href=""><img src="~/template/images/product-details/similar1.jpg" alt=""></a>
                                        <a href=""><img src="~/template/images/product-details/similar2.jpg" alt=""></a>
                                        <a href=""><img src="~/template/images/product-details/similar3.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="~/template/images/product-details/similar1.jpg" alt=""></a>
                                        <a href=""><img src="~/template/images/product-details/similar2.jpg" alt=""></a>
                                        <a href=""><img src="~/template/images/product-details/similar3.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="~/template/images/product-details/similar1.jpg" alt=""></a>
                                        <a href=""><img src="~/template/images/product-details/similar2.jpg" alt=""></a>
                                        <a href=""><img src="~/template/images/product-details/similar3.jpg" alt=""></a>
                                    </div>

                                </div>
                                <!-- Controls -->
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="product-information">

                                <!--/product-information-->
                                <img src="~/template/images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>@Html.DisplayFor(model => model.Name)</h2>
                                <p>Web ID: @Html.DisplayFor(model => model.Id)</p>
                                <img src="~/template/images/product-details/rating.png" alt="" />
                                <span>
                                    <span>@String.Format("{0:C2}", Model.Price)</span>
                                    <label>Quantity:</label>
                                    <input type="text" name="quantity" value="1" />

                                    
                                    <a href="@Url.Action("Add", new {id = Model.Id})">
                                        <button type="button" class="btn btn-fefault cart">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                        </button>
                                    </a>
                                </span>

                                <p>
                                    <b>Brand:</b> @Html.DisplayFor(model => model.Brand)
                                </p>
                                <p>
                                    <b>Category:</b> @Html.DisplayFor(model => model.Category)
                                </p>
                                <p>
                                    <b>Description:</b> @Html.DisplayFor(model => model.Description)
                                </p>

                                @Html.DisplayForModel("CpuViewModel2")



                            </div>
                            <!--/product-information-->
                        </div>

                    </div><!--/product-details-->
                </div>

            </div>
        </div>
    </section>



