@*@model IEnumerable<WebApplication.Models.ItemViewModel>*@
@model WebApplication.Pagination.PagerViewModel 
@{
    var category = Request.QueryString["Category"];
}

<div id ="slide_items">
<div class="col-sm-9 padding-right">
    <div class="features_items">

        <!--features_items-->
        <h2 class="title text-center">Features Items</h2>

        @foreach (var item in Model.Items)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">

                        <div class="productinfo text-center">
                            <img src="~/template/images/shop/default-product.jpg" alt=""/>


                            <h2>@String.Format("{0:C2}", item.Price)</h2>
                            <p>@item.Name</p>


                            <a href="@Url.Action("Details", new {id = item.Id})">
                                <button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Details
                                </button>
                            </a>

                            <a href="@Url.Action("Add", new {id = item.Id})">
                                <button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </a>



                        </div>

                        <div class="product-overlay">
                            <div class="overlay-content">


                                <h2>@String.Format("{0:C2}", item.Price)</h2>
                                <p>@item.Name</p>

                                <a href="@Url.Action("Details", new {id = item.Id})">
                                    <button type="button" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Details
                                    </button>
                                </a>

                                <a href="@Url.Action("Add", new {id = item.Id})">
                                    <button type="button" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }


    </div>

        <!--website paginiation-->
    @*<ul class="pagination">
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>*@

    <!-- pager -->
  
        @if (Model.Pager.EndPage > 1 && category == null)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Items/Shop">First</a>
                    </li>
                    <li>
                        <a href="~/Items/Shop?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Items/Shop?page=@page">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Items/Shop?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Items/Shop?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Items/Shop">First</a>
                    </li>
                    <li>
                        <a href="~/Items/Shop?category=@category&page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Items/Shop?category=@category&page=@page">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Items/Shop?category=@category&page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Items/Shop?category=@category&page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }

</div>
</div>
    <!--features_items-->
